<h1>Stupid Coach</h1>

<div class="tile">
<p class="dialogue"><%= @question %></p>
<p class="author">- Your Question</p>
</div>

<div class="tile">
<p class="dialogue"><%= @response %></p>
<p class="author">- Coach's Response</p>
</div>
<%= link_to 'Ask again!', 'ask' %>
